/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070;
  --main-text-color: #f1b2ce;
  --title-color: #db00ff;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --button-text-color: var(--accent-color);
  --decorated-zone-color: var(--accent-color);
  --link-shadow-color: var(--accent-color);
}
