/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: var(--accent-color-light);
  --main-text-color: var(--main-text-color-light);
  --title-color: var(--title-color-light);
  --bg-color: var(--bg-color-light);
  --bg-image: var(--bg-image-light);
  --button-text-color: var(--button-text-color-light);
  --decorated-zone-color: var(--decorated-zone-color-light);
  --link-shadow-color: var(--link-shadow-color-light);
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: var(--accent-color-light);
    --main-text-color: var(--main-text-color-light);
    --title-color: var(--title-color-light);
    --bg-color: var(--bg-color-light);
    --bg-image: var(--bg-image-light);
    --button-text-color: var(--button-text-color-light);
    --decorated-zone-color: var(--decorated-zone-color-light);
    --link-shadow-color: var(--link-shadow-color-light);
  }
}
